*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe WPC,Segoe UI,HelveticaNeue-Light,Ubuntu,Droid Sans,sans-serif;
    padding: 0;
}
html {
  font-size: 62.5%; /* make 1rem = 10px */
}
body {
    font-size: 16px;
}

.hidden {
    display: none !important;
}
.disabled {
    pointer-events:none;
}
.btn {
    cursor: pointer;
}

.media {
    display: flex;
    align-items: flex-start;
}
.media .media-image {
    margin: 0 1em 0 0;
}
.media .media-content {
    flex: 1;
}
.media.right {
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.media.right .media-image {
    margin: 0 0 0 1em;
}

#log-view {
    position: relative;
    height: 100%;
    overflow-y: auto;
}

#log-view.with-details {
    height: calc(100% - 20rem);
}

#log-view svg {
    position: absolute;
    top: 0;
    left: 0;
}

#log-view svg path {
    stroke-width: 3;
    fill: none;
}

#log-view svg circle {
    stroke: white;
    stroke-width: 0.1em;
    fill: #333;
}

#commit-history {
    padding: 0;
}

.log-entry {
    padding: 1em;
    position: relative;
    border-bottom: 1px solid hsla(0,0%,100%,0.3);
}

.log-entry .media-content {
    position: relative;
    overflow: hidden;
}

.log-entry .commit-subject-link {
    display: block;
    height: 1em;
    position: absolute;
    width: 100%;
    color: transparent;
}

.log-entry .commit-subject-link:hover ~ .commit-subject,
.log-entry .commit-subject-link ~ .commit-subject:hover {
    text-decoration: underline;
    cursor: pointer;
}

.commit-subject {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Errors */

.error-box {
    text-align: center;
    color: #c33;
    padding: 3rem;
}

.error-box {
  animation-duration: 0.75s;
}

.error-box .error-icon > i {
    font-size: 4em;
    margin-right: 0;
}

.error-box .error-title {
    font-weight: lighter;
}

.error-box .error-details {
    font-weight: normal;
}


/* Details View */

#details-view {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20rem;
    overflow: auto;
    padding: 1rem;
    border: 1px solid hsla(0,0%,100%,0.12);
    border-top: 1px solid hsla(0,0%,100%,0.50);
    border-bottom: none;
}

#details-view .commit-subject {
    font-size: 1.4em;
    font-weight: lighter;
    line-height: 2;
    margin: 0;
}